<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'korzina.css' %}"> <!-- Подключите ваш CSS файл -->
    <script src="{% static 'korzina.js' %}" defer></script>
</head>
<body>
    <header class="header">
    </header>
    <button class="back-button" onclick="location.href='/'">Вернуться на главную</button>
    <div class="cart-container">
        <div id="cart-items"></div>
        <button id="checkout-button"><a href="{% url 'zakaz' %}">Оформить заказ</a></button>
    </div>

    <footer>
        <p>&copy; 2024 Ваш Магазин</p>
    </footer>
</body>
</html>