<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Магазин Парфюмерии</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'main.js' %}" defer></script>
    </head>
<body>
    <header class="headerss">
        <div class="phone">+7 (999) 999-99-99</div>
        <div class="cart-button">
            <a href="cart">Корзина</a>
        </div>
    </header>
    
    <main>
        <div class="product-container">
            <!-- Продукты будут загружены динамически через JavaScript -->
        </div>
    </main>

    <!-- Модальное окно -->
    <div id="product-modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal" class="close">&times;</span>
            <img id="modal-product-image" src="" alt="">
            <h2 id="modal-product-name"></h2>
            <p id="modal-product-brand"></p>
            <p id="modal-product-gender"></p>
            <p id="modal-product-group"></p>
            <p id="modal-product-notes"></p>
            <p id="modal-product-description"></p>
            
            <div>
                <button class="volume-button" data-volume="3">3 мл</button>
                <button class="volume-button" data-volume="60">60 мл</button>
            </div>
            
            <button id="add-to-cart" class="volum-button">Добавить в корзину</button>
        </div>
    </div>
    <footer>
        <p>© 2024 Магазин Парфюмерии. Все права защищены.</p>
    </footer>
</body>
</html>