<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Магазин Парфюмерии</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'main.js' %}" defer></script>
    </head>
<body>
    <header class="headerss">
        <div class="phone">Телефон: +7 (999) 999-99-99</div>
        <div class="nav-links">
            <a href="{% url 'main' %}" class="main-button">Главная</a>
            <a href="{% url 'cart' %}" class="cart-button">Корзина</a>
        </div>
    </header>
    
    <main>
        <div class="product-container">
            <!-- Продукты будут загружены динамически через JavaScript -->
        </div>
    </main>

    <!-- Модальное окно -->
        <div id="product-modal" class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex justify-center items-center">
            <div class="bg-white rounded-lg p-4 max-w-lg mx-auto w-full">
                <img id="modal-product-image" src="" alt="Product Image" class="rounded-lg mb-4 w-full h-auto max-h-60 object-contain">
                <h2 id="modal-product-name" class="text-xl font-bold mb-2"></h2>
                <p id="modal-product-brand" class="mb-2"></p>
                <p id="modal-product-gender" class="mb-2"></p>
                <p id="modal-product-group" class="mb-2"></p>
                <p id="modal-product-notes" class="mb-2"></p>
                <p id="modal-product-description" class="mb-4"></p>
                <p id="modal-product-price" class="mb-2 text-lg font-semibold"></p> <!-- Цена -->
                <div class="flex flex-col space-y-2">
                    <label for="product-quantity" class="mb-1">Количество:</label>
                    <input type="number" id="product-quantity" value="1" min="1" class="border rounded p-2 w-full" />
                    <button id="add-to-cart" class="bg-pink-500 text-white rounded px-4 py-2 w-full">Добавить в корзину</button>
                    <button id="close-modal" class="bg-gray-300 text-black rounded px-4 py-2 w-full">Закрыть</button>
                </div>
            </div>
        </div>
    <footer>
        <p>© 2024 Магазин Парфюмерии. Все права защищены.</p>
    </footer>
</body>
</html>