<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин Парфюмерии</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}" defer></script> <!-- Используем defer для загрузки скрипта после HTML -->
</head>
<body>
    <header class="headerss">
        <div class="phone">Телефон: +7 (999) 999-99-99</div>
        <div class="nav-links">
            <a href="{% url 'main' %}" class="main-button">Главная</a>
            <a href="{% url 'cart' %}" class="cart-button">Корзина</a>
        </div>
    </header>
    
    <main>
        <div class="product-container">
            <!-- Продукты будут загружены динамически через JavaScript -->
        </div>
    </main>

    <footer>
        <p>© 2024 Магазин Парфюмерии. Все права защищены.</p>
    </footer>
</body>
</html>