{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class="headerss">
        <div class="phone">Телефон: +7 (999) 999-99-99</div>
        <div class="nav-links">
            <a href="{% url 'main' %}" class="main-button">Главная</a>
            <a href="{% url 'cart' %}" class="cart-button">Корзина</a>
        </div>
    </header>

    <main>
        <div class="product-detail">
            <img src="{{ product.photo_url }}" alt="{{ product.name }}" class="product-image">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-price">{{ product.price }} ₽</p>
            <p class="product-description">{{ product.description }}</p>
            <button class="add-to-cart-button" data-product-id="{{ product.id }}">Добавить в корзину</button>
        </div>
    </main>

    <footer>
        <p>© 2024 Магазин Парфюмерии. Все права защищены.</p>
    </footer>
</body>
</html>