{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="{% static 'zakaz.css' %}">
</head>
<body>
    <div class="order-card">
        <h1>Оформление заказа</h1>
        <form id="orderForm">
            <label for="name">Имя:</label>
            <input type="text" id="name" required>

            <label for="phone">Номер телефона:</label>
            <input type="tel" id="phone" required> <!-- Изменено на 'tel' -->

            <label for="email">Email:</label>
            <input type="email" id="email" required>

            <label for="address">Адрес:</label>
            <input type="text" id="address" required>

            <button type="submit">Оформить заказ</button>
            <button><a class="button" href="{% url 'main' %}">Вернуться на главную</a></button> 
        </form>
        <div id="message" class="hidden"></div>
    </div>

    <script src="{% static 'zakaz.js' %}"></script>
</body>
</html>