body {
    font-family: Arial, sans-serif;
    background-color: #f8f0f8;
    color: #333;
    margin: 0; /* Убираем отступы у body */
    padding: 0; /* Убираем внутренние отступы у body */
}

.header {
    background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/1349008/pub_638f0f8');
    background-size: cover;
    background-position: center;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    width: 100%; /* Устанавливаем ширину на 100% */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивает элементы по вертикали */
    padding: 10px;
}

.phone-number {
    font-size: 16px; /* Размер шрифта для номера телефона */
    color: white; /* Цвет текста */
}

.order-card {
    background-color: #ffe6f2;
    border: 2px solid #ff66b2;
    border-radius: 10px;
    padding: 30px; /* Увеличиваем отступы внутри карточки */
    max-width: 600px; /* Увеличиваем максимальную ширину */
    width: 100%; /* Устанавливаем ширину на 100% для адаптивности */
    margin: 50px auto; /* Центрируем карточку с отступом сверху и снизу */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff66b2;
}

label {
    display: block;
    margin: 15px 0 5px; /* Увеличиваем отступы между метками и полями ввода */
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff66b2;
    border-radius: 5px;
    margin-bottom: 15px; /* Добавляем отступ снизу для полей ввода */
}

button {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Добавляем отступ сверху для кнопки */
}

button:hover {
    background-color: #ff3385;
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
    color: #28a745;
}

/* Медиа-запросы для адаптации под мобильные устройства */
@media (max-width: 480px) {
    .header {
        height: 80px; /* Уменьшаем высоту заголовка */
    }

    .header-container {
        flex-direction: column; /* Размещаем элементы в колонку */
        align-items: center; /* Центрируем элементы */
    }

    .phone-number {
        font-size: 14px; /* Уменьшаем размер шрифта для номера телефона */
    }

    .order-card {
        padding: 20px; /* Уменьшаем отступы внутри карточки */
        margin: 20px auto; /* Уменьшаем отступы сверху и снизу */
    }

    h1 {
        font-size: 1.5em; /* Уменьшаем размер заголовка */
    }

    label {
        margin: 10px 0 5px; /* Уменьшаем отступы между метками и полями ввода */
    }

    input {
        padding: 8px; /* Уменьшаем отступы в полях ввода */
    }

    button {
        padding: 8px; /* Уменьшаем отступы в кнопках */
        margin-top: 15px; /* Уменьшаем отступ сверху для кнопки */
    }
}